@import 'custom';
@import '../../node_modules/bootstrap/scss/bootstrap';

*{
    margin: 0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffc107 #766f6f;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffc10773;
    border-radius: 5px;
    border: 0px none #ffffff;
  }



html{
    font-size: 10px;
}
body{
    overflow: overlay;
    font-size: 1.6rem;
}
.navbar{
    a{
        font-size: 1.6rem;
    }
    .dropdown-menu{
        transform: perspective(200px) rotateX(-90deg) translateZ(100px);
        transition: transform 500ms linear;
        transform-origin: top;
        display: block;
        backface-visibility: hidden;
    }
    .dropdown:hover{ 
        .dropdown-menu{
            display:block;
            color:Red;
            transform: rotateX(0deg);
        }
    }
}
.nav-scrolled{
    background-color: white!important;
    a{
        color: black!important;

    }
}
.hero-section{
    background-image: url('../../images/hero-bg.webp');
    height: 150vh;
    width: 100%;
    margin-top: -10rem;
}
.hero-text{
    font-size: 9rem;
    line-height: 2;
    font-weight: 900;
}
.text-content{
    &__title{     
        line-height: 1.8;
        font-size: 3rem;
    }
    p{
        line-height: 1.8;
        font-size: 3rem;
    }
}
.slider{
    &__title{
        font-size: 7rem;
    }
    .swiper-01{
        .swiper-button-prev {
            background-image: url("../../images/arrowLeftWhite.svg") !important;
            background-repeat: no-repeat;
            background-position: left;
            width: 40px;
            background-size: cover;
            transition: all 0.5s linear;
            &::after{
                content: '';
            }
            &:hover{
                width: 55px;
                transform: translateX(-15px);
            }
        }
        .swiper-button-next {
            background-image: url("../../images/arrowRightWhite.svg") !important;
            background-repeat: no-repeat;
            background-position: right;
            width: 40px;
            background-size: cover;
            transition: all 0.5s linear;
            &::after{
                content: '';
            } 
            &:hover{
                width: 55px;
                transform: translateX(15px);
            }
        }
    }
}
.image-section{
    height: 100vh;
    width: 100%;
    background-image: url('../../images/image.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.text-scroll{
    p{
        font-weight: 900;
        font-size: 8rem;
    }
}
.product-features{
    &__icon{
        width: 16rem;
    }
}
.testimonial{
    &-image{
        width: 100%;
        height: 75.8rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
